.knowledge-cont {
  font-family: "Rajdhani";
  padding: 1%;
}

.know {
  color: lightgrey;
  border: 2px solid aqua;
  border-bottom-right-radius: 25px;
  padding: 1%;
  box-shadow: 0px 0px 9px rgb(116, 239, 255);
  background-color: rgba(214, 214, 214, 0.014);
}

.know:hover {
  transition: 1s;
  box-shadow: 0px 0px 25px rgb(0, 225, 255);
  color: rgb(243, 230, 0);
}

.languages-cont {
  display: flex;
  background-color: ;
  justify-content: space-evenly;
}

.languages {
  box-shadow: 0px 0px 25px yellow;
  border: 2px solid yellow;
  border-radius: 5px 5px 15px 5px;
  padding: 10px;
  font-size: 1.5rem;
  color: lightgray;
}

.pi{
  color: rgb(255, 251, 0);
  margin-top: 10px;
  font-size: 1rem;
}

@media (max-width: 425px) {
  .languages-cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
}
