@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

.portfolio-cont {
  background-color: rgba(0, 0, 0, 0.527);
  width: 15vw;
  padding: 1%;
  font-size: 1.5rem;
}

.portfolio {
  font-family: "Nothing You Could Do", cursive;
  border: 2px solid rgb(255, 0, 60);
  border-bottom-right-radius: 25px;
  box-shadow: 0px 0px 15px red;
}

.link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navegator {
  font-family: "Rajdhani";
  background-color: rgba(230, 230, 250, 0.103);
  border: none;
  border-radius: 10px;
  margin: 1px;
  padding: 5%;
  width: 100%;
  font-size: 1.3rem;
  color: rgb(114, 234, 248);
  text-decoration: none;
}
.navegator:hover {
  background-color: rgba(230, 230, 250, 0.219);
}
.navegator:focus {
  color: rgb(243, 230, 0);
  background-color: rgba(255, 2, 2, 0.555);
}

.git-linkedin {
  color: rgb(114, 234, 248);
}
.git-linkedin-cont {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
}
